body {
  font-family: "Times New Roman", Times, serif;
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

h1 {
  font-size: 100px;
}

h2 {
}

.weatherApp-border {
}

.form-control {
}

.col-5 {
}

.btn-primary {
}

.btn-success {
}

.cityName {
}

.sm-2 {
}

.CurrentTemperture {
}

.celfarNumber {
}

.unit {
}

ul {
}

.sm-6 {
}

.form-control {
}

.fiveDayOutlook {
}

.Day-1 {
}

.weatherResultEmojiDayOne {
}

.Day-2 {
}

.weatherResultEmojiDayTwo {
}

.Day-3 {
}

.weatherResultEmojiDayThree {
}

.Day-4 {
}

.weatherResultEmojiDayFour {
}

.Day-5 {
}

.weatherResultEmojiDayFive {
}

footer {
}
