body {
  font-family: Arial, Helvetica, sans-serif;
  color: #f9c6b9;
}

h1 {
  position: relative;
  left: 400px;
  top: 75px;
  font-size: 25px;
  font-weight: 300;
  color: #f9c6b9;
}

.element {
  text-shadow: 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
  position: relative;
  left: 100px;
  top: 135px;
}

.weather-app-border {
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  max-width: 850px;
  max-height: 700px;
  background-image: url(https://images.unsplash.com/photo-1565130838609-c3a86655db61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.form-control {
  position: relative;
  left: 50px;
  top: 33px;
  width: 50%;
}

.col-5 {
  position: relative;
  left: 25px;
  top: 30px;
}

.btn-primary {
  position: relative;
  left: 400px;
  top: -5px;
}

.btn-success {
  position: relative;
  left: 425px;
  top: -5px;
}

.cityName {
  position: relative;
  left: -100px;
  top: -75px;
  font-size: 60px;
  margin: 0 auto;
}

.CurrentTemperture {
  position: relative;
  left: 50px;
  top: -80px;
  font-size: 22px;
  font-weight: 700;
}

.celfarNumber {
  position: relative;
  left: 75px;
  top: 50px;
  font-size: 50px;
  font-weight: 500;
}

.unit {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  left: 150px;
  top: -20px;
  cursor: pointer;
}

img {
  position: relative;
  left: 125px;
  top: -15px;
}

ul {
  font-size: 25px;
  font-weight: 400;
  position: relative;
  left: 420px;
  top: -175px;
  list-style: none;
  text-transform: capitalize;
}

.fiveDayOutlook {
  position: relative;
  top: -150px;
  font-weight: 525;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
}

.Day-1 {
  position: relative;
  left: 30px;
  top: 30px;
}

.weatherResultEmojiDayOne {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-2 {
  position: relative;
  left: 50px;
  top: 30px;
}

.weatherResultEmojiDayTwo {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-3 {
  position: relative;
  left: 80px;
  top: 30px;
}

.weatherResultEmojiDayThree {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-4 {
  position: relative;
  left: 100px;
  top: 30px;
}

.weatherResultEmojiDayFour {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-5 {
  position: relative;
  left: 120px;
  top: 30px;
}

.weatherResultEmojiDayFive {
  font-size: 25px;
  position: relative;
  left: 20px;
}

footer {
  font-size: 10px;
  position: relative;
  top: -100px;
  text-align: center;
}
