h1 {
  position: relative;
  left: 20px;
  top: 10px;
  font-size: 10px;
}

h2 {
  position: relative;
  left: 100px;
  top: 100px;
  font-size: 100px;
}

.weather-app-border {
  border: 10px solid black;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  max-width: 750px;
  max-height: 750px;
}

.form-control {
  position: relative;
  left: 50px;
  top: 25px;
  width: 50%;
}

.col-5 {
  position: relative;
  left: 25px;
  top: 30px;
}

.btn-primary {
  position: relative;
  left: 525px;
  top: -12px;
}

.btn-success {
  position: relative;
  left: 525px;
  top: -12px;
}

.date-time {
  position: relative;
  left: 0px;
  top: 0px;
  font-size: 15px;
}

.CurrentTemperture {
  position: relative;
  left: 350px;
  top: 0px;
  font-size: 20px;
  font-weight: 700;
}

.celfarNumber {
  position: relative;
  left: 575px;
  top: -65px;
  font-size: 20px;
  font-weight: 500;
}

.unit {
  font-size: 50px;
  font-weight: 750;
  position: relative;
  left: 615px;
  top: -65px;
}

ul {
  font-size: 25px;
  font-weight: 750;
  position: relative;
  left: 400px;
  top: -60px;
}

.fiveDayOutlook {
  position: relative;
  top: -80px;
  font-weight: 600;
}

.Day-1 {
  position: relative;
  left: 20px;
  top: 30px;
}

.weatherResultEmojiDayOne {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-2 {
  position: relative;
  left: 20px;
  top: 30px;
}

.weatherResultEmojiDayTwo {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-3 {
  position: relative;
  left: 40px;
  top: 30px;
}

.weatherResultEmojiDayThree {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-4 {
  position: relative;
  left: 90px;
  top: 30px;
}

.weatherResultEmojiDayFour {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-5 {
  position: relative;
  left: 120px;
  top: 30px;
}

.weatherResultEmojiDayFive {
  font-size: 25px;
  position: relative;
  left: 20px;
}

footer {
  font-size: 10px;
  position: relative;
  top: 0px;
  text-align: center;
}
